server:
  port: 8091
spring:
  application:
    name: ms-admin

  datasource:
    url: jdbc:h2:mem:admin_db
    driverClassName: org.h2.Driver
    username: sa
    password:

  spring:
    application:
      name: ms-admin

    datasource:
      url: jdbc:postgresql://${DB_HOST:${POSTGRES_HOST:localhost}}:${DB_PORT:5432}/${DB_NAME:asesoriasdb}
      username: ${DB_USER:admin}
      password: ${DB_PASSWORD:admin_pass}
      driver-class-name: org.postgresql.Driver
      hikari:
        maximum-pool-size: 5
        connection-timeout: 30000

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: false
      properties:
        hibernate.default_schema: admin
        hibernate.jdbc.time_zone: UTC

    main:
      allow-bean-definition-overriding: true
  cloud:
    discovery:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    enabled: true





