server:
  port: 8091
spring:
  application:
    name: ms-admin

  datasource:
    url: jdbc:h2:mem:admin_db
    driverClassName: org.h2.Driver
    username: sa
    password:

  sql:
    init:
      mode: never
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        '[format_sql]': true

  h2:
    console:
      enabled: true
      path: /h2-console

  cloud:
    discovery:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    enabled: true





