# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Production build
dist
build

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Vite
.vite

# Misc
*.log
.eslintcache
