server:
  port: 8084
spring:
  application:
    name: ms-divisiones

  datasource:
    url: jdbc:h2:mem:div_db
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    enabled: true
  instance:
    prefer-ip-address: true


